* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
  }
 
  /*.info-box {
    display: inline-flexbox;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
  }*/
  
  input,
  select,
  option,
  optgroup,
  textarea,
  button,
  pre,
  code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  @media screen and (max-width: 768px) {
    /* For  screens with a width of 768 pixels or less */
  }
  @media screen and (max-width:1280) {
    /* For  screens with a width of 1280 pixels or less */
  }